/* Global styles */
body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: 'Roboto', Arial, sans-serif;

  margin: 0;
  padding: 10px 3px 10px 2px;

  color-scheme: dark;
}

.header { margin: auto; text-align: center; }

.tab-list-container {

  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.tab-favicon {
  width: 16px;
  grid-area: favicon;
}

.tab-item {
  padding: 2px 0 2px 0;
  display: grid;
  grid-template-columns: 16px 1fr 8px;
  grid-template-rows: repeat(6, 4px);
  grid-template-areas:
  ".        tab-info   btn-dash"
  "favicon  tab-info   btn-dash"
  "favicon  tab-info   btn-dash"
  "favicon  tab-info   btn-dash"
  "favicon  tab-info   btn-dash"
  ".        tab-info   btn-dash";
}

.tab-info {
  grid-area: tab-info;
}

.tab-title, .tab-url {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-title { font-weight: bold; }

.tab-buttons {
  grid-area: btn-dash;
}

.tab-buttons button {
  display: block;
  margin: 1px;
  width: 8px;
}
