:root {
  --main-bg-color: #22272e;
  --main-color: #cad1d8;
  --main-color-muted: #768390;
  --main-link-color: #539bf5;
  --btn-bg-color: #373e47;
  --btn-bg-color-hover: #444c56;
  --btn-border-color-hover: #768390;
  --inner-width: 316px;
}

html {
  color-scheme: dark;
}

body {
  width: 326px;
  min-height: 240px;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.search-wrapper {
  max-width: var(--inner-width);
  margin: auto;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 0.75rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid var(--main-color-muted);
  border-bottom: 1px solid var(--main-color-muted);
}

.tab {
  margin-top: 1rem;
}

.group {
  margin-top: 1rem;
}
