:root {
  --main-bg-color: #22272e;
  --main-color: #cad1d8;
  --main-color-muted: #768390;
  --main-link-color: #539bf5;
  --btn-bg-color: #373e47;
  --btn-bg-color-hover: #444c56;
  --btn-border-color-hover: #768390;
  --inner-width: 316px;

  --tab-group-color-grey: grey;
  --tab-group-color-blue: blue;
  --tab-group-color-red: red;
  --tab-group-color-yellow: yellow;
  --tab-group-color-green: green;
  --tab-group-color-pink: pink;
  --tab-group-color-purple: purple;
  --tab-group-color-cyan: cyan;
  --tab-group-color-orange: orange;
}

html {
  color-scheme: dark;
}

body {
  width: 326px;
  min-height: 240px;
  overflow-y: scroll;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.search-wrapper {
  max-width: var(--inner-width);
  margin: auto;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 0.75rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

input[type="text"]:focus {
  transition-duration: 1s;
  outline: 1px solid var(--main-link-color);
}

#stats {
  margin-bottom: 1rem;

  padding-left: 2px;
  padding-right: 2px;
}

.group-item, .tab-item {
  cursor: pointer;
  margin-top: 2px;
  border-radius: 4px;
  color: var(--main-bg-color);
  background-color: var(--main-color-muted);

  padding: 5px;
}

.group-item:hover, .tab-item:hover {
  background-color: var(--btn-bg-color-hover);
}

.group-title, .tab-title {
  margin-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.tab-deck button {
  font-size: 0.5rem;
}

.group-url, .tab-url {
  margin-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-color {
  position: absolute;
  cursor: pointer;
}

.group-color:after {
  content: "";
  background-color: var(--main-link-color);
  width: 12px;
  height: 12px;
  border-radius: 10%;
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
}

[color="grey"]:after {
  background-color: var(--tab-group-color-grey);
}

[color="red"]:after {
  background-color: var(--tab-group-color-red);
}

[color="yellow"]:after {
  background-color: var(--tab-group-color-yellow);
}

[color="green"]:after {
  background-color: var(--tab-group-color-green);

[color="pink"]:after {
  background-color: var(--tab-group-color-pink);
}

[color="purple"]:after {
  background-color: var(--tab-group-color-purple);
}

[color="cyan"]:after {
  background-color: var(--tab-group-color-cyan);

[color="orange"]:after {
  background-color: var(--tab-group-color-orange);
}
